@import '../../global.scss';

.skills{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


    .arrow{
        height: 50px;
        position: absolute;
        
        @include mobile {
           height: 60px; 
        }


        &.left{
            left: 100px;
            transform: rotateZ(90deg);
            cursor: pointer;
            @include mobile {
                left: 30px;
            }
        }

        &.right{
            right: 100px;
            transform: rotateZ(270deg);
            cursor: pointer;
            @include mobile {
                right: 30px;
            }


        }
    }
    
    h1{
        z-index: 3;
        height: 80%;
        position: absolute;
        font-size: 30px;
        text-align: center;
        width: 65%;
        @include mobile {
            font-size: 20px;
            height: 60%;
            width: 80%;

        }
    }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        background-color: white;
        transition: all 0.3s ease-out;
        left: 120px;


        @include mobile {
            height: 200px;
            left: 50px;
        }
        
        .container{
            width: 240px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 40px;
            margin: 0px;
            @include mobile {
                width: 200px;

            }

            img{
                width: 90%;
                height: 80%;
                object-fit: contain;
                
                @include mobile {
                    width: 100%;
                    height: 100%;
                }
                

            }

            
        }
    }


}